<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="containerStyle.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"></script>
  <link rel="stylesheet" href="editorStyle.css">
  <link rel="stylesheet" href="buttons.css">
  <!--para la terminal-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xterm@4.19.0/css/xterm.css" />
  <script src="https://cdn.jsdelivr.net/npm/xterm@4.19.0/lib/xterm.js"></script>
  <!--para la markdown-->
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  

</head>
<body>
  <div class="container">
    <div class="titlebarStyle"></div>
    <div class="filesnlogo">
      <div class="tab">Pestana 1</div>
      <div class="tab">Pestana 2</div>
      <div class="tab">Pestana 3</div>
      <!-- Agrega más elementos de pestañas según sea necesario -->
    </div>
    <div class="fileStyle" contenteditable="true" id="textCell"></div>
    <div class="terminalStyle"></div>
    <div class="editorStyle"></div>
    <div class="toolbar">
      <button>markdown/play</button>
      <button onclick="translateMarkdown()">Convertir</button>
      <button onclick="editMarkdown()">Editar</button>
      <button>a</button>
      <button>a</button>
      <button>a</button>
    </div>
  </div>
  
  <!--Aquí comienza el script para hacer aparecer el editor y asociarlo a editorStyle-->
  <script src="./editor.js"></script>

  <!--Aquí comienza el script relacionado con la terminal-->
  <script src="./markdown.js"></script>

  <!--Aqui comeinza el lector markdown-->
</body>
</html>
