.coding_screen {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-auto-rows: 1fr; /* Altura predeterminada de las filas no definidas */
    gap: 2%;
    height: 85vh;
    margin: 1%;
  }
  
  
  #code_toolbar {
    /* Estilos para el elemento con el ID code_toolbar */
    background: #FF4;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 6; /* Ocupa el 50% del ancho de la cuadrícula */
  }
  
  #terminal {
    /* Estilos para el elemento con el ID terminal */
    background: #AD34;
    grid-column-start: 6;
    grid-column-end: 10; /* Ocupa el 40% del ancho de la cuadrícula */
    grid-row-start: 6;
    grid-row-end: 9;
  }
  
  #editor {
    /* Estilos para el elemento con el ID editor */
    background: #FFF;
    grid-row-start: 2;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 6; /* Ocupa el 50% del ancho de la cuadrícula */
  }
  
  #file_reader {
    /* Estilos para el elemento con el ID file_reader */
    background: rgba(223, 21, 21, 0.267);
    grid-column-start: 6;
    grid-column-end: 10; /* Ocupa el 40% del ancho de la cuadrícula */
    grid-row-start: 1;
    grid-row-end: 6;
  }
  