<!DOCTYPE html>
<html>
<head>
  <!--esta es una forma de hacerlo, cuando no están ambos archivos en la misma carpeta-->
  <!--<link rel="stylesheet" href="/Users/diegoleiva/Desktop/LILA/src/titleBar.css">-->

  <!--Y esta forma se utiliza cuando están en la misma carpeta-->
  <link rel="stylesheet" href="titleBar.css">
</head>
<body>
  <div class="container">
    <div class="titleBar titleBarStyle">

      <div class="WindowTitle">Proyecto Lila</div>
      <div class="windowControls windowControlsStyle">
        <button id="minimise">-</button>
        <button id="maxmise">+</button>
        <button id="close">x</button>
      </div>

    </div> <!-- aquí termina el contenedor titleBar-->

    <div class="coding_screen">

      <div id="code_toolbar"></div>
      <div id="terminal"></div>
      <div id="editor"></div>
      <div id="file_reader"></div>
    </div>
  </div>



  
  
</body>
</html>
